extends layout


block content 
 doctype html  
 html(lang='en')  
  head
    title Pug
  body
    h1 Pug Examples
    div.container
      p Cool Pug example!
      a.foo_link(href='https://codeburst.io/getting-started-with-pug-template-engine-e49cfa291e33', target='_blank') Getting Started with Pug